---

# ansible-playbook -i hosts cleanup_playbook.yaml -e "ansible_user=cisco ansible_ssh_pass=cisco123 ansible_sudo_pass=cisco123" -vv

- name: jalapeno cleanup
  hosts: jalapeno
  become: false
  tasks:

    - name: clear fabric_graph load
      command: python3 clear-load.py
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_5/jalapeno/backend
      ignore_errors: yes

- name: cleanup K8s
  hosts: london_k8s_cp
  become: false
  tasks:

    - name: cleanup pytorch pods
      command: kubectl delete -f srv6-pytorch-test.yaml
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_5/srv6-pytorch
      ignore_errors: no

    - name: cleanup cilium
      command: kubectl delete -f 99-cilium-all.yaml
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_3/cilium
      ignore_errors: no

    - name: verify cilium cleanup
      command: cilium bgp peers
      register: cilium_peers
      ignore_errors: yes
    - name: show cilium peers
      debug:
        msg: "{{ cilium_peers.stdout_lines }}"

- name: topology-host cleanup
  hosts: topology-host
  become: true
  tasks:

    - name: cleanup lab 1
      command: ./cleanup-lab_1.sh
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_1
      ignore_errors: yes

    - name: cleanup lab 2
      command: ./cleanup-lab_2.sh
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_2
      ignore_errors: yes

    - name: cleanup lab 3
      command: ./cleanup-lab_3.sh
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_3
      ignore_errors: yes

    - name: cleanup lab 4
      command: ./cleanup-lab_4.sh
      args:
        chdir: /home/cisco/LTRSPG-2212/lab_4
      ignore_errors: yes

- name: virsh shutdown london VMs
  hosts: topology-host
  tasks:

    - name: shutdown london-vm-00
      community.libvirt.virt:
        name: london-vm-00
        state: shutdown

    - name: shutdown london-vm-01
      community.libvirt.virt:
        name: london-vm-01
        state: shutdown

    - name: shutdown london-vm-02
      community.libvirt.virt:
        name: london-vm-02
        state: shutdown
